body{
    margin: 0;
    font-family: arial, san-serif;
}

ul{
    list-style-type: none;
    color:gray;
}

li{
    display: inline;
    text-transform: uppercase;
    
}
.righthand{
    float: right;
    padding-right: 30px;
    font-size: small;
}
.lefthand{
    float: left;
    padding-left: 30px;
    font-size: small;
}
    
a{
    text-color: grey;
    text-decoration: none;
}
#banner{
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
    background-repeat: none;
    background-position: left;
    background-size: cover;
    background-color: white;
    
    height: 400px;
    margin-top: 20px;
}
.content{
    position: absolute;
    color: white;
    text-align: left;
    padding: 65px 0px 0px 45px;
    line-height: 0.2;
    
}
.content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    line-height: 0.1;
}
.neighbor{
    background-color: lightgrey;
    padding-left: 60px;
    padding-top: 30px;
    height: 475px;
    font-family: Arial, Helvetica, sans-serif;  
}
.column{
    float: left;
    width: 33.33%;
}
.column h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(17, 20, 22);
}
.column a{
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 35px;
    padding-top: 20px;
    height: 150px;
    
}
.column footer{
    float: left;
    width: 33.33%;
}
